.header-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgb(212, 206, 206);
    position: sticky;
  }
  
  .menu-icon {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 10px;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
   

  }
  
  .notification-badge {
    cursor: pointer;
    margin-right: 15px;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 10px;
  }
  